
body {
  margin: 0;
}
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}
h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232
}
a {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
}
nav {
  height: 80px;
  width: auto;
}
.nav-left,
.nav-right {
  display: inline-block;
}
.nav-right p {
  text-align: right;
}
.footer {
  background-color: #00897f;
  height: 125px;
  width: auto;
}
.nav h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #323232;
  padding-top: 20px;
}
.nav-right p {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  color: #323232;
}
.main-content{
  margin-left: 510px;
  margin-right: 510px;
}
.blurb h1 {
  text-align: center;
}
.blurb h3 {
  padding-bottom: 80px;
}
#about-kat {
  width: 250px;
  padding: 30px;
  background-color: #eeeeee;
  display: inline-block;
}
#about-kat h2 {
  padding-bottom: 25px;
}
#about-mavis {
  width: 250px;
  padding: 30px;
  background-color: #eeeeee;
  display: inline-block;
}
.footer h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: lightgray;
  text-align: center;
}
.main h1 {
  text-align: center;
}
.cat-images {
  display: table;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%;
  height: 250px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#cat-hat {
  margin-left: -100px;
}
#cat-sun {
  margin-left: 55px;
  margin-right: 55px;
}
}
.splash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
